html {
  font-size: 62.5%;
}
body {
  width: 80rem;
  height: 60rem;
  background-color: #fdf2e9;
  margin: 0;
  padding: 0;
}

.help-link{
  color: blue;
  font-size: 1.8rem;
  margin: auto ;
  padding: 30rem;
  text-decoration: none;
}
.main {
  color: black;
  text-align: center;
  font-size: 4rem;
  margin-bottom: 80px;
  padding-top: 40px;
}
.main-span {
  color: darkorange;
}
.main-input-box {
  margin: 24px;
}
.main-data {
  text-align: left;
  overflow: auto;
  font-size: 1.8rem;
  padding: 4px;
  margin-bottom: 2rem;
  width: 100%;
  height: 100%;
}

.loader {
  border: 16px solid #FFD580;
  border-top: 16px solid #e67e22;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
  text-align: center;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
